################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/tuplify/v16
/.vs/slnx.sqlite
/src/api/.vs/Hopegenics.Tuplify
